.navbar {
    width: 100%;
    height: 50px;
    background-color: rgb(20, 20, 20);
    display: flex;
    justify-content:space-evenly;
    align-items: center;
}

.link {
    color: white;
    text-decoration: none;
    font-size: 25px;
}